/vendor
/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/.env
/.phpunit.cache
/Homestead.json
/Homestead.yaml
/npm-debug.log
/yarn-error.log
/.idea
/.vscode
/.git
/docker-compose.yml
